[Unit]
Description=MDNS Configuration to accept subdomains
Wants=avahi-daemon.service
After=avahi-daemon.service
Wants=avahi-daemon.socket
After=update-hostname.service

[Service]
Type=exec
ExecStart=/usr/local/bin/go-avahi-cname cname jellyfin qbittorrent flaresolverr prowlarr grafana argocd

[Install]
WantedBy=multi-user.target
